* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100%;
    background-color: #000;
}

#back {
    height: 100vh;
    width: 100%;
}

#top {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#WorkinArea {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    position: relative;
    /* border: 1px solid red; */
}

#nav {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navLeft {
    display: flex;
    align-items: center;
    gap: 35px;
}

#navLeft img {
    height: 65px;
    display: flex;
}

#nav a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-family: 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

#navRight {
    display: flex;
    align-items: center;
    gap: 35px;
}